@inherits LayoutComponentBase
@inject NavigationManager Nav
@inject AppDbContext Db
@inject AppState State

@code {
    private string? Code;

    protected override void OnInitialized()
    {
        var uri = new Uri(Nav.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);

        Code = query.Get("code");

    }

    private string Link(string baseUrl)
    {
        if (string.IsNullOrWhiteSpace(Code))
            return baseUrl;

        // code anfügen
        return $"{baseUrl}?code={Code}";
    }
}

<div class="layout">
    <header>
        <a href="/">
            <img src="/images/clubwork.png" alt="Clubwork logo" width="70" height="70" style="display:block;" />
        </a>

        <nav>
            <a href="/user/login">User Login</a>
            <a href="@Link("/user/dashboard")">Dashboard</a>
            @if(State.CurrentUser?.Role == "admin"){
            <a href="@Link("/admin/dashboard")">Admin</a>}
        </nav>

    </header>

    <main class="container">
        @Body
    </main>

    <footer>
        © @(DateTime.Now.Year) Worktrack – All rights reserved.
        <a href="/impressum">Impressum</a> · 
        <a href="/datenschutz">Datenschutz</a>
    </footer>
</div>
