@inherits LayoutComponentBase
@inject NavigationManager Nav
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@code{
    ClaimsPrincipal? user;
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; } = default!;
    bool IsAdmin => user?.IsInRole("admin") == true;
    protected override async Task OnInitializedAsync(){
        var authState = await AuthenticationStateTask;
        user = authState.User;
        // 🔒 Nicht eingeloggt
    }
}
    <ToastHost/>
<div class="layout">
    <header>
        <a href="/">
            <img src="/images/clubwork.png" alt="Clubwork logo" width="70" height="70" style="display:block;" />
        </a>

        <nav>
            <NavLink href="/user/login">User Login</NavLink>
            <NavLink href="/user/dashboard">Dashboard</NavLink>
            @if(IsAdmin){
            <NavLink href="/admin/dashboard">Admin</NavLink>}
        </nav>

    </header>

    <main class="container">
        @Body
    </main>
   
    <footer>
        © @(DateTime.Now.Year) Worktrack – All rights reserved.
        <a href="/impressum">Impressum</a> · 
        <a href="/datenschutz">Datenschutz</a>
    </footer>
    
</div>
