@page "/event/success/in"
@inject NavigationManager Nav
@inject IJSRuntime JS

<div class="card" style="text-align:center;">
    <h2>Check-In erfolgreich!</h2>
    <p>Du bist jetzt für das Event eingecheckt.</p>

    <a class="btn btn-primary" href="/">Zurück</a>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool first)
    {
        if (first)
        {
           
        }
    }
}
