@page "/event/success/in"
@inject NavigationManager Nav
@inject IJSRuntime JS

<div class="card" style="text-align:center;">
    <h2>Check-In erfolgreich!</h2>
    <p>Du bist jetzt f³r das Event eingecheckt.</p>

    <button class="btn btn-primary" @onclick="GoBack">Zur³ck</button>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool first)
    {
        if (first)
        {
            await JS.InvokeVoidAsync("worktrack.playSuccess");
        }
    }

    private void GoBack()
    {
        Nav.NavigateTo("/", true);
    }
}
