@page "/event/success/out"
@inject NavigationManager Nav
@rendermode InteractiveServer
@inject IJSRuntime JS

@code {
    private  string time = "alle";
}

<div class="card" style="text-align:center;">
    <h2>Check-Out erfolgreich!</h2>
    <p>Gearbeitete Zeit: <strong>@time Stunden</strong></p>

    <button class="btn btn-primary" @onclick="GoBack">Zurück</button>

    <p style="color:gray; margin-top:1rem;">
        Du wirst automatisch in 5 Sekunden zurückgeleitet!
    </p>
</div>

@code {


    protected override async Task OnAfterRenderAsync(bool first)
    {
        if (first)
        {
            var uri = new Uri(Nav.Uri);;
            var query = System.Web.HttpUtility.ParseQueryString(uri.Query);

            var time = query["time"];
            StateHasChanged();
            
        }else{
            await Task.Delay(5000);
            Nav.NavigateTo("/", true);
        }
    }

    private void GoBack()
    {
        Nav.NavigateTo("/", true);
    }
}