@page "/user/login"
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Microsoft.AspNetCore.Authentication
@using System.Security.Claims
@inject IHttpContextAccessor Http
@inject NavigationManager Nav


<h2>Worktrack Login</h2>

<div class="card" style="max-width: 420px; margin: 2rem auto;">
    <form method="post" action="/auth/login">
        

        <label>Secret Code</label>
        <input name="SecretCode"/>

    @if (!string.IsNullOrEmpty(Error))  
        {
            <p style="color: red; margin-top: 1rem;">@Error</p>
        }
        <button type="submit" class="btn mt-4">Login</button>
    </form>

    <div style="margin-top:1rem;">
        <a href="/getyourcode">Secret Code per E-Mail anfordern</a>
    </div>
</div>

@code {
     [SupplyParameterFromQuery]
    public string? Error { get; set; }
}
